extends ../partials/head
block content
  .all-wrapper
    .all-header
      h1.general-text-title Celestia Mamathon Faucet Light Node Faucet
    .all-content
      .all-content-faucet-wrapper
        .all-content-faucet-img-wrapper
          img.all-content-faucet-img-logo(src="/img/faucet/node101_logo.jpeg" alt="node101 logo" width="200")
        .all-content-faucet-text-box
          .all-content-faucet-text#1 Dear, Mammoths!
          .all-cotent-faucet-text#2 Welcome to our Mammothon Hackathon light node interface! Are you looking for some tokens to start?
        .all-content-faucet-request-wrapper
          input.all-content-faucet-request-wrapper#faucet-request-input(type='text' placeholder='Give an address (e.g.: celestia1lrzxwu4dmy8030waevcpft7rpxjjz26c4ufedn) to received tokens' style='margin-left: auto; margin-right: 20px;')
          //- a.general-form-button(href='./') Request Token
